.IseeYou {
  height: 100px;
  width: 100px
	;
  background: #4ca75f;
  display: block;
  margin-bottom: 10px;
}
.port_content_right {
  height: 400px;
  margin-left: 20px;
  max-width: 552px;
}
.port_content_right #port_slider_big_img {
  transition: all 400ms ease-in-out;
}
.port_content_right #port_slider_big_img {
  height: 350px;
  width: 555px;
  background: url('/img/slider_table.jpg');
  transition: all 400ms ease-in-out;
}
.port_content_right .port_wrapper_slider_small_img {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.port_content_right .port_wrapper_slider_small_img img {
  height: 115px;
  width: 130px;
}
.port_content_right .port_wrapper_slider_small_img #port_slider_1 {
  opacity: 0.7;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
.port_content_right .port_wrapper_slider_small_img #port_slider_1:hover {
  opacity: 1;
  transition: all 400ms ease-in-out;
}
.port_content_right #port_slider_2 {
  opacity: 0.7;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
.port_content_right #port_slider_2:hover {
  opacity: 1;
  transition: all 400ms ease-in-out;
}
.port_content_right #port_slider_3 {
  opacity: 0.7;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
.port_content_right #port_slider_3:hover {
  opacity: 1;
  transition: all 400ms ease-in-out;
}
.port_content_right #port_slider_4 {
  opacity: 0.7;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
.port_content_right #port_slider_4:hover {
  opacity: 1;
  transition: all 400ms ease-in-out;
}
